.toolTip {
  position: absolute;
  max-width: 35%;
  z-index: 999;
  padding: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  box-shadow: 5px 10px 8px #888;
  background: #fff;
  border: 1px solid #d3d3d3;
  font-family: roboto, sans-serif;
}
.tooltip-hide {
  display: none;
}
.tooltip-show {
  display: block;
}
.closeTooltip {
  background: #c9c5c5;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 9px;
  cursor: pointer;
}
.tooltip-link {
  color: #0962ee;
  font-weight: 700;
  cursor: pointer;
}
li:empty {
  display: none;
}
.spoilerHidden {
  display: none;
}
.spoilerShow {
  display: inline !important;
}
.spoilerButtonHide {
  display: none;
}
#spoiler {
  background: #f9f9f9;
}
#spoiler li a {
  pointer-events: none;
  color: #000;
  text-decoration: none;
  border-bottom: 0;
}
#spoiler .closeTooltip {
  display: none;
}
.toolTip a {
  margin-left: 4px;
  color: #595757 !important;
  border-bottom: 0 !important;
  text-decoration: none;
}
.spoiler-name {
  background: #4dcada;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}
#spoiler li b {
  display: none;
}
@media only screen and (max-width: 500px) {
  .toolTip {
    max-width: 90% !important;
    left: 1px !important;
  }
}
